body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    padding: 200px;
}
.BOX-MODEL1{
    width:300px;
    height: 200px;;
    padding:30px;
    margin: 20px auto;
    border: 5px solid black;
    background-color:pink;
}
.bg-image{
    width: 500px;
    height: 300px;
    background-image: url(CAT.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 50px;
    color: white;
}
.rounded-corners{
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 15px;
}
.inner-box{
    background-color: yellowgreen;
    color: white;
    padding: 20px;
    margin: 15px;
}